:root {
  --background-color: #9055ef;
  --text-color: #f5f5f5;

  --button-color: #71a2fd;
  --button-text-color: #f5f5f5;
  --button-border-color: #000;
  --button-hover-color: #5c85e5;

  --select-color: #f5f5f5;
  --select-hover-color: #d3d3d3;

  --border-radius-rounded: 100vh;

  --font-poppins: "Poppins", system-ui, sans-serif;

  --box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

* {
  /* Reset default styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-poppins);
}

  .ball-blue {
    position: absolute;
    background-color: blue;
    top: 0%;
    left: 6%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation: moveUpDownLeft 5s ease-in-out infinite;
    z-index: -1;
  }

    .ball-orange {
    position: absolute;
    background-color: rgb(255, 145, 0);
    top: 0%;
    left: 48.5%;
    height: 75px;
    width: 75px;
    animation: moveUpDown 10s ease-in-out infinite;
    z-index: -1;
  }

  .ball-green {
    position: absolute;
    background-color: rgb(5, 170, 5);
    top: 0%;
    left: 75%;
    height: 130px;
    width: 130px;
    z-index: -1;
    border-radius: 50%;
    animation: moveUpDownLeft 7s ease-in-out infinite;
  }

  .ball-red {
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 5%;
    left: 0%;
    height: 100px;
    width: 100px;
    z-index: -1;
    border-radius: 50%;
    animation: moveLeftRight 8s ease-in-out infinite;
  }

  .ball-yellow {
    background-color: rgb(235, 220, 56);
    position: absolute;
    border-radius: 50%;
    top: 65%;
    height: 85px;
    width: 85px;
    z-index: -1;
    animation: moveLeftRight 14s ease-in-out  infinite;
  }

  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(800px) rotate(180deg);
    }
  }

  @keyframes moveUpDownLeft {
    0%, 100% {
      transform: translateX(100px);
    }
    50% {
      transform: translateY(740px);
    }
  }

  @keyframes moveLeftRight {
    0%, 50%, 100% {
      transform: translateY(130px);
    }
    50% {
      transform: translateX(1800px); 
    }
  }

.hero {
  display: grid;
  place-content: center;
  min-height: 100vh;

  .container {
    max-width: 500px;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }

    form {
      display: grid;

      :not(select) {
        margin-top: 2rem;
      }

      label {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
      }

      select {
        border-radius: var(--border-radius-rounded);
        box-shadow: var(--box-shadow);
        border: 2px solid var(--button-border-color);
        background-color: #f5f5f5;

        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-family: inherit;

        &:hover {
          background-color: var(--select-hover-color);
        }
        
      }

      button {
        background-color: var(--button-color);
        color: var(--button-text-color);
        border: 2px solid var(--button-border-color);
        border-radius: var(--border-radius-rounded);
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-family: inherit;
        font-weight: bold;

        text-transform: uppercase;

        box-shadow: var(--box-shadow);

        &:hover {
          background-color: var(--button-hover-color);
        }
      }
    }
  }
}
    
  #consent-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    padding: 0.8rem;
    background: #0b0112;
    opacity: 0.8;
  }

  #consent-bar button {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      opacity: 0.7;
    }
  }

  .allow { 
    background: #176419; 
    color:white;
    padding: 0.75rem 1.1rem;
    margin-right: 0.7rem;
    font-size: 1.3rem;
  }
  .deny {
    background: #ff0000; 
    color: white;
    padding: 0.8rem 1.3rem;
    font-size: 1.3rem;
  }