:root {
  --background-color: #9055ef;
  --text-color: #f5f5f5;

  --button-color: #71a2fd;
  --button-text-color: #0e6204;
  --button-border-color: #000;

  --border-radius-rounded: 100vh;

  --font-poppins: "Poppins", system-ui, sans-serif;
}

* {
  /* Reset default styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-poppins);
}

.hero {
  display: grid;
  place-content: center;
  min-height: 100vh;

  .container {
    top: 2rem;
    max-width: 500px;
    width: 100%;

    h1 {
      font-size: 6rem;
    }

    form {
      display: grid;
      grid-gap: 1rem;

      button {
        background-color: var(--button-color);
        color: var(--button-text-color);
        border: 2px solid var(--button-border-color);
        border-radius: var(--border-radius-rounded);
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-family: inherit;
      }
    }
  }
}
